@import '@common/variables.scss';
@import '@common/typo.scss';
@import '@common/breakpoints.scss';

@mixin buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background: var(--base-white);
  gap: $m;
  border-bottom-right-radius: $s;
  border-bottom-left-radius: $s;

  @include mobile-up {
    padding: $m $lg;
  }

  @include mobile-down {
    padding: $m;
  }
}

.createContainer {
  @include buttons-container;

  padding: $m;
}

.container {
  @include buttons-container;
}

.label {
  color: var(--base-black);
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
}

.terms {
  color: var(--base-black);
  opacity: 0.5;
  line-height: normal;
  font-size: 12px;
}

.conditions {
  text-decoration-line: underline;
  cursor: pointer;
}

.infiniteApprove {
  @include mobile-down {
    padding-bottom: $m;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: $m;
}
