@import '@common/variables.scss';
@import '@common/colors.scss';

.wrapper {
  width: 100%;
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $xxl;
  padding: 0 $m;
  font-weight: 400;
  font-size: 16px;
  background: $base-white;
  border: 1px solid $base-black;
  border-radius: $s;
  cursor: pointer;
}

@mixin item-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $xxs;
  width: 100%;
  padding: 0;
}

.item {
  padding: $xs $m;

  @include item-base;
}

.selectedItem {
  @include item-base;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: $base-black;
}
