@import '@common/variables.scss';
@import '@common/colors.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.arrow {
  width: 16px;
  height: 16px;
  cursor: pointer;

  * {
    fill: $base-black;
  }
}

.arrowDisabled {
  cursor: not-allowed;
  pointer-events: none;

  * {
    fill: $additional-gray-medium;
  }
}

.pageInfo {
  font-weight: 500;
  color: $additional-gray-medium;

  @include font-s-flat;
}
