@import '@common/mixins.scss';
@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.wrapper {
  @include popup-wrapper;

  @include mobile-down {
    z-index: 9998;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
  background: var(--base-white);
  border: 1px solid var(--additional-gray-pre-middle);
  border-radius: var(--xxs);
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 15%);

  @include mobile-down {
    margin: var(--m);
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cross {
  cursor: pointer;
}

.cross path {
  stroke: var(--base-black);
}

.title {
  color: var(--base-black);

  @include font-m(700);
}

.header {
  display: flex;
  flex-direction: column;
  padding: var(--lg);
  background: var(--bg-gray);
  border-top-left-radius: var(--xxs);
  border-top-right-radius: var(--xxs);
  gap: var(--m);
}

.pinnedTokens {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  @include mobile-down {
    gap: var(--m);
  }

  @include mobile-up {
    gap: var(--s);
  }
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 288px;
  max-height: 288px;
  overflow-y: auto;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--s) var(--lg);
  gap: var(--xxs);
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:hover {
    background: var(--bg-gray);
  }
}
