@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background: var(--base-white);
  gap: var(--m);
  border-bottom-right-radius: var(--s);
  border-bottom-left-radius: var(--s);

  @include mobile-up {
    padding: var(--m) var(--lg);
  }

  @include mobile-down {
    padding: var(--m);
  }
}

.terms {
  color: var(--base-black);
  opacity: 0.5;

  @include font-s(400);
}

.conditions {
  text-decoration-line: underline;
  cursor: pointer;
}
