@import '@common/variables.scss';
@import '@common/typo.scss';

@mixin input-label {
  font-weight: 600;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $s;
}

.label {
  color: var(--base-black);

  @include input-label;
}

.errorLabel {
  color: var(--additional-error);

  @include input-label;
}

.input {
  --text-field-border-width: 0px;

  width: 100%;
  height: $xxl;
  padding: 0 $s;
  font-weight: 400;
  font-size: 24px;
  line-height: $xxl;
  color: var(--additional-gray-dark);
  font-style: normal;
  border: 1px solid var(--base-gray);
  border-radius: $xxs;
  outline: none;

  & svg {
    margin-right: 6px;
  }

  &::placeholder {
    color: var(--additional-gray-dark);
  }

  &:focus-within {
    padding: 0 7px;
    color: var(--base-black);
    border: 2px solid var(--base-black);
  }

  &.disabledInput {
    color: var(--additional-gray-pre-middle);
    background: var(--base-white);
    border: 1px solid var(--additional-gray-pre-middle);
    cursor: not-allowed;
  }

  &:not(.errorInput, :focus-within, .disabledInput):hover {
    color: var(--base-black);
    border: 1px solid var(--base-black);
    transition: all 200ms ease-in-out;
  }

  &.errorInput {
    padding: 0 7px;
    color: var(--additional-error);
    border: 2px solid var(--additional-error);
  }
}

[data-theme='dark'] {
  .input {
    color: var(--base-white);

    &::placeholder {
      color: var(--additional-gray-middle);
    }
  }
}

.icon {
  position: absolute;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.sm {
  height: 24px;

  @include font-s-flat;
}

.md {
  height: 36px;

  @include font-m-flat;
}

.lg {
  height: 48px;
  border: 1px solid var(--base-black);
  border-radius: $s !important;

  @include font-3xl;
}
