@import '@common/typo.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--s);
}

.label {
  color: var(--base-black);

  @include font-m(600);
}

.errorLabel {
  color: var(--additional-error);

  @include font-m(600);
}

.input {
  --text-field-border-width: 0px;

  width: 100%;
  height: var(--xxl);
  padding: 0 var(--s);
  color: var(--additional-gray-dark);
  font-style: normal;
  border: 1px solid var(--base-gray);
  border-radius: var(--xxs);
  outline: none;
  transition: color 300ms ease-in-out, border 300ms ease-in-out;

  @include font-3xl(400);

  & svg {
    margin-right: var(--xs);
  }

  &::placeholder {
    color: var(--additional-gray-dark);
  }

  &:focus-within {
    padding: 0 7px;
    color: var(--base-black);
    border: 2px solid var(--base-black);
    transition: none;
  }

  &.disabledInput {
    color: var(--additional-gray-pre-middle);
    background: var(--base-white);
    border: 1px solid var(--additional-gray-pre-middle);
    cursor: not-allowed;
    transition: none;
  }

  &:not(.errorInput, :focus-within, .disabledInput):hover {
    color: var(--base-black);
    border: 1px solid var(--base-black);
  }

  &.errorInput {
    padding: 0 7px;
    color: var(--additional-error);
    border: 2px solid var(--additional-error);
    transition: none;
  }
}

[data-theme='dark'] {
  .input {
    color: var(--base-white);

    &::placeholder {
      color: var(--additional-gray-middle);
    }
  }
}

.icon {
  position: absolute;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.sm {
  height: var(--lg);

  @include font-s(400);
}

.md {
  height: var(--pxxl);

  @include font-m(400)
}

.lg {
  height: var(--xxl);
  border: 1px solid var(--base-black);
  border-radius: var(--s) !important;

  @include font-3xl(400);
}
