@import '@common/typo.scss';

.container {
  display: flex;
  align-items: center;
  padding: 12px var(--m);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--additional-gray-middle);
  }

  &:active {
    background-color: var(--additional-gray-middle);
  }
}

.disabled {
  background-color: var(--bg-gray);
  cursor: not-allowed;
  opacity: 0.6;
}

.icon {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: var(--s);
}

.label {
  @include font-m(600);
}

.active {
  background-color: var(--additional-gray-middle);
}
