@import '@common/variables.scss';

.asset {
  display: flex;
}

.cross {
  cursor: pointer;
}

[data-theme='dark'] .searchAsset path,
[data-theme='dark'] .searchAsset circle {
  stroke: var(--base-white);
}

[data-theme='dark'] .errorAsset path {
  fill: var(--base-white);
}

.errorInput {
  padding: 0 7px !important;
  color: var(--additional-error) !important;
  border: 2px solid var(--additional-error) !important;
}

.disabled {
  background: var(--additional-gray-pre-middle) !important;
  cursor: not-allowed;
}

[data-theme='dark'] .errorInput {
  color: var(--base-white) !important;
}

.input {
  --text-field-border-width: 0px;

  width: 100%;
  height: 36px;
  padding: 0 $s;
  font-weight: 400;
  gap: $xxs;
  font-size: 14px;
  color: var(--base-black);
  border: 1px solid var(--base-gray);
  border-radius: $xxs;

  &:focus-within {
    padding: 0 7px;
    border: 2px solid var(--base-black);
  }

  &:disabled {
    color: var(--additional-gray-middle);
    background-color: var(--additional-gray-pre-middle);
  }

  &::placeholder {
    color: var(--additional-gray-dark);
  }

  &:not(.errorInput, :disabled, :focus-within):hover {
    color: var(--base-black);
    border: 1px solid var(--base-black);
    transition: all 200ms ease-in-out;
  }
}

[data-theme='dark'] {
  .input {
    color: var(--base-white) !important;

    &:focus-within {
      border: 1px solid var(--base-white);
    }

    &::placeholder {
      color: var(--additional-gray-middle) !important;
    }

    &.errorInput {
      background-color: var(--additional-black-almost);
    }

    &:not(.errorInput, :focus-within):hover {
      color: var(--additional-gray-middle) !important;
    }
  }
}

.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input[type='number'] {
  -moz-appearance: textfield;
}
