@import '@common/typo.scss';
@import '@common/mixins.scss';
@import '@common/breakpoints.scss';

.wrapper {
  @include popup-wrapper;

  @include mobile-down {
    z-index: 9998;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  min-height: 548px;
  background: var(--base-white);
  padding: var(--m) var(--lg);
  border: none;
  border-radius: var(--s);

  @include mobile-down {
    margin: var(--m);
    justify-content: initial;
    gap: var(--lg);
  }

  @include mobile-up {
    justify-content: space-between;
    gap: 0;
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cross {
  cursor: pointer;
}

.cross path {
  stroke: var(--base-black);
}

.title {
  color: var(--base-black);

  @include mobile-down {
    @include font-xl(400);
  }

  @include mobile-up {
    @include font-3xl(400);
  }
}

.warning {
  display: flex;
  width: var(--xl);
}

.warnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--m) var(--s);
  background: var(--additional-warn);
  border-radius: var(--s);
  gap: var(--s);
}

.addressInput {
  @include mobile-down {
    @include font-m(400);
  }

  @include mobile-up {
    @include font-xl(400);
  }
}

.decimalWrapper {
  max-width: 124px;
}

.warnText {
  color: var(--base-black);
  @include font-m(400);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--lg);
}

.tokenWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 258px;
}

.tokenContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--s);
}

.balanceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--xxs);
}

.tokenTitle {
  font-weight: 400;
  color: var(--base-black);
  @include font-3xl(400);
}

.tokenBalance {
  color: var(--base-black);
  opacity: 0.5;
  @include font-m(400);
}

.tokenLogo {
  width: 48px;
  height: 48px;
}
