@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.wrapper {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 10001;
  transition:
  top 0.5s ease,
  opacity 0.5s ease;
  gap: var(--sm);

  @include mobile-up {
    top: var(--xl);
    max-width: 340px;
  }

  @include mobile-down {
    top: 113px;
    width: 100%;
    padding: 0 var(--m);
  }
}

.item {
  z-index: 10001;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: var(--s);
  border-radius: var(--xxs);
  gap: var(--xxs);
}

.success {
  background: var(--additional-success);
}

.error {
  background: var(--additional-error);
}

.pointer {
  cursor: pointer;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  color: var(--base-white);

  @include font-m(700);
}

.text {
  color: var(--base-white);

  @include font-m(400);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.wrapper.slideDown {
  animation: slideDown 0.15s ease-in-out forwards;
}
