@import '@common/variables.scss';
@import '@common/typo.scss';
@import '@common/breakpoints.scss';

.wrapper {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 10001;
  transition:
  top 0.5s ease,
  opacity 0.5s ease;
  gap: $sm;

  @include mobile-up {
    top: 32px;
    max-width: 340px;
  }

  @include mobile-down {
    top: 113px;
    width: 100%;
    padding: 0 $m;
  }
}

.item {
  z-index: 10001;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: $s;
  border-radius: $xxs;
  gap: $xxs;
}

.success {
  background: var(--additional-success);
}

.error {
  background: var(--additional-error);
}

.pointer {
  cursor: pointer;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 14px;
  color: var(--base-white);
}

.text {
  font-weight: 400;
  font-size: 14px;
  color: var(--base-white);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.wrapper.slideDown {
  animation: slideDown 0.15s ease-in-out forwards;
}
