@import '@common/variables.scss';
@import '@common/colors.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px 0 16px;
  font-family: var(--font-family-base);
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  background: $base-gray;
  border-radius: $xxs;
}

.button,
.buttonText,
.menuItem {
  @include font-m-flat;
}

.buttonText {
  font-weight: 500;
  color: $base-white;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuItem {
  font-weight: 400;
  color: $base-black;
}

.rightsLabel {
  padding-left: 16px;
  font-weight: 400;
  font-size: 11px;
  color: $additional-gray-medium;
}

.content {
  display: grid;
  grid-template-rows: max-content;
  width: 100%;
  min-height: 100vh;

  &_bg_default {
    background: $additional-gray-light;
  }

  &_bg_contrast {
    background: $base-white;
  }
}
