@import '@common/variables.scss';
@import '@common/colors.scss';
@import '@common/typo.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stepItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $xs;
  width: 100%;
}

.stepItem::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 27%;
  width: 100%;
  height: 2px;
  background-color: $additional-gray-pre-middle;
  transform: translateY(50%);
}

.step {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $additional-gray-pre-middle;
  background-color: $base-white;
  border: 2px solid $additional-gray-pre-middle;
  border-radius: 9999px;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
}

.active .label,
.complete .label {
  font-weight: 700;
}

.active .step {
  color: $base-white;
  background-color: $base-black;
  border: none;
}

.active::before,
.complete::before {
  background-color: #333;
}

.complete .step {
  color: $base-white;
  background-color: $base-black;
  border: none;
}
