@import '@common/variables.scss';
@import '@common/colors.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  padding: 10px $m;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  font-family: inherit;
  color: $base-white;
  border: none;
  border-radius: $xxs;
  cursor: pointer;

  &[data-disabled='true'] {
    pointer-events: none;
  }

  &.primary {
    background-color: $base-gray;

    &.icon {
      justify-content: center;
      width: $xxl;
      height: $xxl;
      padding: $lg;
      border-radius: $xxs;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &[data-disabled='true'],
    &:disabled {
      background-color: $additional-gray-pre-middle;
      cursor: default;
    }

    &:not[data-disabled='true']:hover,
    &:not(:disabled):hover {
      background-color: $base-black;
      transition: all 200ms ease-in-out;
    }
  }

  &.ghost {
    color: $base-gray;
    background-color: transparent;
    border: 1px solid $base-gray;
  }
}

.loading {
  display: inline-block;
  animation: l 1s steps(4) infinite;
  clip-path: inset(0 1.175ch 0 0);
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

[data-theme='dark'] {
  .button {
    color: $base-black;

    &.primary {
      background-color: $bg-gray;

      &[data-disabled='true'],
      &:disabled {
        color: $base-white;
        background-color: $additional-black-almost;
        cursor: not-allowed;
      }

      &:not[data-disabled='true']:hover,
      &:not(:disabled):hover {
        background-color: $base-white;
        transition: all 200ms ease-in-out;
      }
    }
  }
}

.sm {
  height: 36px;
}

.lg {
  height: 48px;
}
