.serviceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feeLabel {
  color: var(--base-black);
  line-height: normal;
  font-size: 12px;
}

.feeContainer {
  display: flex;
  flex-direction: row;
  gap: var(--xxs);
  align-items: center;
}

.info {
  opacity: 0.5;
  display: flex;
}
