@import '@common/typo.scss';

.container {
  display: flex;
}

.tabList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s);
}

.tabItem {
  height: var(--xl);
  padding: var(--m);
  vertical-align: middle;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;

  @include font-m(500);

  &:hover {
    background-color: var(--additional-gray-middle);
  }

  &_active {
    padding: var(--s) var(--m);
    font-weight: bold;
    color: var(--base-black);
    background-color: var(--additional-gray-middle);
    border-radius: 100px;
  }

  &__label {
    text-transform: capitalize;
  }

  .badge {
    position: relative;
    top: -1px;
    left: var(--xxs);
    color: var(--additional-gray-medium);

    @include font-s(700);
  }
}
