@import '@common/colors';
@import '@common/variables';
@import '@common/typo.scss';
@import '@common/breakpoints';

.arrowContainer {
  display: flex;
  flex-direction: row;

  @include mobile-up {
    align-items: center;
    gap: $m;
  }

  @include mobile-down {
    align-items: flex-start;
    gap: $xxs;
  }
}

.tokenContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $xxs;
}

.receiverAddress {
  color: $base-black;
  font-weight: 400;

  @include mobile-up {
    @include font-xl;
  }

  @include mobile-down {
    @include font-xs;
  }
}

.receiver {
  color: $base-black;
  font-weight: 400;
  opacity: 0.5;

  @include font-m;
}
