@import '@common/colors.scss';
@import '@common/variables.scss';
@import '@common/typo.scss';

.container {
  display: grid;
  justify-items: center;
  row-gap: $lg;
  margin-top: 24px;
  padding: $xxl $lg 0;
  color: $base-black;
  border-top: 1px solid $additional-gray-pre-middle;

  @include font-3xl;
}
