@import '@common/colors';
@import '@common/variables';

.warnContainer {
  display: flex;
  padding: $s;
  align-items: center;
  gap: $s;

  border-radius: $s;
  background: $additional-warn;
}

.warning {
  display: flex;
}

.warnParagraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $m;
}

.warn {
  cursor: pointer;
}

.warnText {
  color: $base-black;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.warnTokenName {
  color: $base-black;
  font-size: 14px;
  font-weight: 700;
}

.warnShareAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $s;
}
