@import '@common/variables';
@import '@common/typo.scss';
@import '@common/breakpoints';

.warnContainer {
  padding: $s;
  border-radius: $s;
  background: var(--additional-warn);

  @include mobile-up {
    display: flex;
    align-items: center;
    gap: $s;
  }

  @include mobile-down {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: $s;
    row-gap: 10px;
  }
}

.warning {
  display: flex;

  @include mobile-down {
    grid-column: 1;
    grid-row: 1;
  }
}

.warnParagraph {
  @include mobile-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $m;
  }

  @include mobile-down {
    display: contents;
  }
}

.warn {
  cursor: pointer;
}

.warnText {
  color: var(--base-black);
  font-weight: 400;

  @include font-m;

  @include mobile-down {
    grid-column: 2;
    grid-row: 1;
  }
}

.warnTokenSymbol {
  color: var(--base-black);
  font-weight: 700;

  @include font-m;
}

.warnTokenName {
  color: var(--base-black);
  font-weight: 700;

  @include mobile-up {
    @include font-m;
  }

  @include mobile-down {
    @include font-xxs;
  }
}

.warnShareAddress {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mobile-up {
    gap: $s;
  }

  @include mobile-down {
    grid-column: 1/3;
    grid-row: 2;
    gap: 2px;
  }
}
