@import '@common/breakpoints';
@import '@common/typo.scss';

.warnContainer {
  padding: var(--s);
  border-radius: var(--s);
  background: var(--additional-warn);

  @include mobile-up {
    display: flex;
    align-items: center;
    gap: var(--s);
  }

  @include mobile-down {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: var(--s);
    row-gap: 10px;
  }
}

.warning {
  display: flex;

  @include mobile-down {
    grid-column: 1;
    grid-row: 1;
  }
}

.warnParagraph {
  @include mobile-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--m);
  }

  @include mobile-down {
    display: contents;
  }
}

.warn {
  cursor: pointer;
}

.warnText {
  color: var(--base-black);

  @include font-m(400);

  @include mobile-down {
    grid-column: 2;
    grid-row: 1;
  }
}

.warnTokenSymbol {
  color: var(--base-black);

  @include font-m(700);
}

.warnTokenName {
  color: var(--base-black);

  @include mobile-up {
    @include font-m(700);
  }

  @include mobile-down {
    @include font-xxs(700);
  }
}

.warnShareAddress {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mobile-up {
    gap: var(--s);
  }

  @include mobile-down {
    grid-column: 1/3;
    grid-row: 2;
    gap: 2px;
  }
}
