@import '@common/typo.scss';

.wrapper {
  width: 100%;
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--xxl);
  padding: 0 var(--m);
  background: var(--base-white);
  border: 1px solid var(--base-black);
  border-radius: var(--s);
  cursor: pointer;

  @include font-l(400);
}

@mixin item-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--xxs);
  width: 100%;
  padding: 0;
}

.item {
  padding: var(--xs) var(--m);

  @include item-base;
}

.selectedItem {
  @include item-base;
}

.label {
  color: var(--base-black);

  @include font-l(400);
}
