@import '@common/typo.scss';

.container {
  display: flex;
  align-items: center;
  column-gap: var(--lg);
}

.message {
  color: var(--base-black);

  @include font-m;
}

.control {
  width: max-content;
}
