@import '@common/typo.scss';

.rateContainer {
  display: flex;
  padding: var(--s);

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: max-content;

  border-radius: var(--s);
  border: 2px solid var(--base-black);
}

.rate {
  color: var(--base-black);

  @include font-3xl(400);
}

.rateLabel {
  color: var(--base-black);
  opacity: 0.5;

  @include font-m(400);
}
