.rateContainer {
  display: flex;
  padding: var(--s);
  gap: var(--xxs);

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: max-content;

  border-radius: var(--s);
  border: 2px solid var(--base-black);
}

.rate {
  color: var(--base-black);
  font-size: 24px;
  font-weight: 400;
}

.rateLabel {
  color: var(--base-black);
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}
