@import '@common/colors.scss';
@import '@common/variables.scss';
@import '@common/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: 724px;
  width: 100%;
  gap: $lg;

  @include medium-mobile-down {
    padding: $m;
  }

  @include medium-mobile-up {
    margin: 18px auto 0;
  }
}

.created {
  max-width: 760px;
}

.title {
  font-weight: 400;
  line-height: normal;

  @include medium-mobile-down {
    font-size: 18px;
  }

  @include medium-mobile-up {
    font-size: 24px;
  }
}

.fromWrapper {
  @include medium-mobile-down {
    width: 100%;
  }

  @include medium-mobile-up {
    min-width: 200px;
    max-width: 200px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $xxs;
}

.row {
  display: flex;
  gap: $xxs;

  @include medium-mobile-down {
    flex-direction: column;
  }

  @include medium-mobile-up {
    flex-direction: row;
  }
}
