@import '@common/typo.scss';

@mixin buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: var(--m) var(--lg);
  background: var(--base-white);
  gap: var(--m);
  border-bottom-right-radius: var(--s);
  border-bottom-left-radius: var(--s);
}

.createContainer {
  @include buttons-container;

  padding: var(--m);
}

.container {
  @include buttons-container;
}

.label {
  color: var(--base-black);

  @include font-m(400);
}

.terms {
  color: var(--base-black);
  opacity: 0.5;

  @include font-s(400);
}

.conditions {
  text-decoration-line: underline;
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--m);
}
