@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.button {
  max-width: 138px;
}

.infoWrapper {
  display: flex;
  align-items: center;
  height: 36px;
  border-radius: var(--xxs);

  @include mobile-up {
    padding: var(--xxs);
    gap: var(--m);
    background: var(--base-white);
    border: 1px solid var(--bg-gray);

    @include font-l;
  }

  @include mobile-down {
    gap: var(--sm);
    padding: var(--xs) var(--m);
    background: var(--bg-gray);

    @include font-m;
  }
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  gap: var(--xxs);
}

.accountIcon {
  @include mobile-up {
    width: 20px;
    height: 20px;
    border-radius: 999px;
  }

  @include mobile-down {
    display: none;
  }
}

.accountContainer {
  display: flex;
  align-items: center;
  line-height: normal;

  @include mobile-up {
    padding: var(--xxs) var(--s);
    background: var(--bg-gray);
    border-radius: var(--xxs);
    gap: var(--s);
  }
}

.flex {
  display: flex;
}

.walletLabel {
  font-weight: 400;
  font-size: 14px;
  color: var(--base-black);
}

.balance {
  @include mobile-down {
    display: none;
  }
}
