@import '@common/variables.scss';
@import '@common/colors.scss';
@import '@common/typo.scss';

.tableContainer {
  min-width: 1200px;
  padding: 20px;
  background-color: #f9f9f9;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 24px;
}

.searchContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 36px;
}

.tableHeaderCell {
  font-weight: 500;
  text-transform: capitalize;
  user-select: none;

  @include font-s-flat;

  &_active {
    font-weight: 700;
    color: $base-black;
  }
}

.tableBody {
  background: $base-white;

  @include font-m-flat;
}

.cancelButton {
  max-width: 116px;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 9px;
  vertical-align: middle; // Центрируем текст по вертикали
  text-align: center; // Центрируем текст по горизонтали
}

.row {
  max-height: $xxl;
}

.cancelled {
  color: #d9d9d9;
}

.shareWidget {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shareButton {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $additional-gray-middle;
  }
}

.sortIconContainer {
  width: 12px;
  height: 12px;
}

.sortIcon {
  position: relative;
  top: 2px;
  left: 8px;
  width: 12px;
  height: 12px;
  opacity: 1;

  &_hidden {
    opacity: 0;
  }
}
