@import '@common/typo.scss';
@import '@common/breakpoints.scss';

.container {
  display: grid;
  grid-auto-rows: max-content;
  justify-items: center;

  @include mobile-up {
    row-gap: var(--lg);
    margin: var(--xl) 0 0;
    padding: var(--xxl) 0;
  }

  @include mobile-down {
    row-gap: var(--m);
    padding: var(--m);
  }
}

.title {
  color: var(--base-black);

  @include mobile-up {
    @include font-3xl;
  }

  @include mobile-down {
    @include font-xl;
  }
}

.create {
  @include mobile-up {
    width: max-content;
  }

  @include mobile-down {
    width: 100%;
  }
}
