@import '@common/colors.scss';
@import '@common/variables.scss';
@import '@common/typo.scss';

.tokenItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $xxs $s;
  background: $bg-gray;
  border: 1px solid $additional-gray-pre-middle;
  border-radius: 100px;
  cursor: pointer;
  gap: $xxs;
}

.title {
  color: $base-black;

  @include font-m-flat;
}
