@import '@common/variables.scss';
@import '@common/colors.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  align-items: center;
  column-gap: $xs;
}

.button {
  padding: 6px;
  cursor: pointer;

  path {
    fill: $base-black;
  }

  &:disabled {
    cursor: default;

    path {
      fill: $additional-gray-medium;
    }
  }
}

.label {
  font-weight: 500;
  font-family: var(--font-family-base);
  text-align: left;
  color: $additional-gray-medium;

  @include font-m-flat;
}
