@import '@common/typo.scss';

.container {
  display: flex;
  align-items: center;
  column-gap: var(--xs);
}

.button {
  padding: var(--xs);
  cursor: pointer;

  path {
    fill: var(--base-black);
  }

  &:disabled {
    cursor: default;

    path {
      fill: var(--additional-gray-medium);
    }
  }
}

.label {
  font-family: var(--font-family-base);
  text-align: left;
  color: var(--additional-gray-medium);

  @include font-m(500);
}
