@import '@common/colors.scss';
@import '@common/variables.scss';
@import '@common/typo.scss';
@import '@common/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  gap: $lg;

  @include mobile-up {
    padding: $xxl $lg;
  }

  @include mobile-down {
    padding: $lg $m;
  }
}

.title {
  color: $base-black;
  font-weight: 400;

  @include mobile-up {
    @include font-4xl;
  }

  @include mobile-down {
    @include font-xl;
  }
}

.text {
  color: $base-black;
  font-weight: 400;
  text-align: center;

  @include font-m;
}

.btn {
  @include mobile-up {
    max-width: 115px;
  }

  @include mobile-down {
    width: 100%;
  }
}
