@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  gap: var(--lg);

  @include mobile-up {
    padding: var(--xxl) var(--lg);
  }

  @include mobile-down {
    padding: var(--lg) var(--m);
  }
}

.title {
  color: var(--base-black);

  @include mobile-up {
    @include font-4xl(400);
  }

  @include mobile-down {
    @include font-xl(400);
  }
}

.text {
  color: var(--base-black);
  text-align: center;

  @include font-m(400);
}

.btn {
  @include mobile-up {
    max-width: 115px;
  }

  @include mobile-down {
    width: 100%;
  }
}
