/* styles/globals.css */

@import './common/colors.scss';
@import './common/mixins.scss';
@import './common/typo.scss';
@import './common/variables.scss';
@import './reset.scss';
@import './theme.scss';

:root {
  --app-height: 100%;
}

* {
  -webkit-touch-callout: default;
  -webkit-text-size-adjust: none;
}

body,
html {
  width: 100%;
  height: var(--app-height);
  font-family: var(--font-family-base);

  > * {
    font-family: var(--font-family-base);
  }
}

ul {
  padding: 0;
  list-style: none;
}

button,
input[type='submit'],
input[type='reset'] {
  font: inherit;
  color: inherit;
  outline: inherit;
}

a {
  color: inherit;
}

table {
  border-collapse: collapse;
}

.rt-TextFieldRoot:where(.rt-r-size-2) :where(.rt-TextFieldInput) {
  --text-field-selection-color: color(display-p3 0.004 0.235 1/16.9%);
}

.rt-TextFieldInput:where(:disabled, :read-only) {
  -webkit-text-fill-color: #BDBDBD;
  cursor: not-allowed !important;
}
