:root {
  --xxs: 4px;
  --xs: 6px;
  --s: 8px;
  --sm: 12px;
  --m: 16px;
  --l: 20px;
  --lg: 24px;
  --xl: 32px;
  --pxxl: 36px;
  --xxl: 48px;

  --base-white: #fff;
  --base-black: #000;
  --base-gray: #333;

  --additional-black-almost: #222;
  --additional-gray: #808080;
  --additional-gray-dark: #404040;
  --additional-gray-middle: #e0e0e0;
  --additional-gray-pre-middle: #bdbdbd;
  --additional-gray-light: #f2f2f2;
  --additional-error: #c10015;
  --additional-success: #1aab9b;
  --additional-gray-background: #f5f5f5;
  --additional-gray-medium: #828282;
  --additional-warn: #ffe8e8;

  --bg-gray: #eee;

  --font-xxs: 8px;
  --font-xs: 10px;
  --font-s: 12px;
  --font-m: 14px;
  --font-l: 16px;
  --font-xl: 18px;
  --font-2xl: 20px;
  --font-2-5xl: 22px;
  --font-3xl: 24px;
  --font-4xl: 32px;
  --font-5xl: 40px;
  --font-6xl: 68px;
  --font-10xl: 100px;
}
