:root {
  --xxs: 4px;
  --xs: 6px;
  --s: 8px;
  --sm: 12px;
  --m: 16px;
  --l: 20px;
  --lg: 24px;
  --xl: 32px;
  --xxl: 48px;

  --base-white: #fff;
  --base-black: #000;
  --base-gray: #333;

  --additional-black-almost: #222;
  --additional-gray: #808080;
  --additional-gray-dark: #404040;
  --additional-gray-middle: #e0e0e0;
  --additional-gray-pre-middle: #bdbdbd;
  --additional-gray-light: #f2f2f2;
  --additional-error: #c10015;
  --additional-success: #1aab9b;
  --additional-gray-background: #f5f5f5;
  --additional-gray-medium: #828282;
  --additional-warn: #ffe8e8;

  --bg-gray: #eee;

  --font-xxs: 8px/12px;

  --font-xs: 10px/14px;

  --font-s-flat: 12px/14px;
  --font-s: 12px/16px;

  --font-m-flat: 14px/16px;
  --font-m: 14px/20px;

  --font-l-flat: 16px/20px;
  --font-l: 16px/22px;

  --font-xl-flat: 18px/22px;
  --font-xl: 18px/24px;

  --font-2xl-flat: 20px/24px;
  --font-2xl: 20px/28px;

  --font-2-5xl: 22px/28px;
  
  --font-3xl: 24px/30px;
  
  --font-4xl: 32px/34px;
  --font-4xl-flat: 32px/24px;
  
  --font-5xl: 40px/50px;
  
  --font-6xl: 68px/83px;
  --font-6xl-flat: 68px/70px;
  
  --font-10xl: 100px/110px;
}
