@import '@common/typo.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--xxs);
}

.label {
  color: var(--base-black);

  @include font-m(400);
}

.root {
  position: relative;
  width: var(--xl);
  height: var(--m);
  background-color: var(--additional-gray-middle);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s;

  .thumb {
    position: absolute;
    top: 50%;
    left: 0;
    width: var(--m);
    height: var(--m);
    background-color: var(--additional-gray-pre-middle);
    border-radius: 999px;
    transform: translate(0, -50%);
    transition: transform 0.2s;
  }

  &[data-state='checked'] .thumb {
    background-color: var(--additional-gray-dark);
    transform: translate(15px, -50%);
  }
}
