@import '@common/colors.scss';
@import '@common/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $lg;
  background: $base-white;
  border-radius: 10px;
  gap: $s;
}

.title {
  font-weight: 700;
  font-size: 14px;
  color: $base-black;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.link {
  font-weight: 400;
  font-size: 24px;
  color: $base-black;
}
