// SIZES

$xxs: 4px; // Extra extra small
$xs: 6px; // Extra small
$s: 8px; // Small
$sm: 12px; // Small medium
$m: 16px; // Medium
$l: 20px; // Large
$lg: 24px; // Large
$xl: 32px; // Extra large
$xxl: 48px; // Extra extra large
