@import '@common/typo.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--pxxl);
  padding: 10px var(--m);
  color: var(--base-white);
  border: none;
  border-radius: var(--xxs);
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  @include font-m(600);

  &[data-disabled='true'] {
    pointer-events: none;
  }

  &.primary {
    background-color: var(--base-gray);

    &.icon {
      justify-content: center;
      width: var(--xxl);
      height: var(--xxl);
      padding: var(--lg);
      border-radius: var(--xxs);

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &[data-disabled='true'],
    &:disabled {
      background-color: var(--additional-gray-pre-middle);
      cursor: default;
    }

    &:not(:disabled):hover {
      background-color: var(--base-black);
    }
  }

  &.ghost {
    color: var(--base-gray);
    background-color: transparent;
    border: 1px solid var(--base-gray);
  }
}

.loading {
  display: inline-block;
  animation: l 1s steps(4) infinite;
  clip-path: inset(0 1.175ch 0 0);
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

[data-theme='dark'] {
  .button {
    color: var(--base-black);
    transition: background-color 200ms ease-in-out;

    &.primary {
      background-color: var(--bg-gray);

      &[data-disabled='true'],
      &:disabled {
        color: var(--base-white);
        background-color: var(--additional-black-almost);
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        background-color: var(--base-white);
      }
    }
  }
}

.sm {
  height: 36px;
}

.lg {
  height: 48px;
}
