@import '@common/colors.scss';
@import '@common/variables.scss';
@import '@common/typo.scss';

@mixin bold-text {
  color: $base-black;
  font-size: 24px;
  font-weight: 400;
}

@mixin with-opacity {
  color: $base-black;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}

.container {
  width: 100%;
  display: flex;
  padding: $xxl $lg;
  flex-direction: column;
  align-items: flex-start;
  gap: $lg;

  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}

.paddingLg {
  padding: $lg;
}

.tokenWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $s;
}

.tokenContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $xxs;
}

.tokenSum {
  @include bold-text;
}

.tokenName {
  @include with-opacity;
}

.logo {
  width: 48px;
  height: 48px;
}

.offerWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $m;
}

.rateContainer {
  display: flex;
  padding: $s;
  gap: $xxs;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-radius: $s;
  border: 2px solid $base-black;
}

.rate {
  @include bold-text;
}

.rateLabel {
  @include with-opacity;
}

.receiverAddress {
  @include bold-text;
  @include font-xl;
}

.receiver {
  @include with-opacity;
}

.warnContainer {
  display: flex;
  padding: $s;
  align-items: center;
  gap: $s;

  border-radius: $s;
  background: $additional-warn;
}

.warning {
  display: flex;
}

.warn {
  cursor: pointer;
}

.warnParagraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $m;
}

.warnText {
  color: $base-black;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.warnTokenName {
  color: $base-black;
  font-size: 14px;
  font-weight: 700;
}

.warnShareAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $s;
}
