@import '@common/variables.scss';
@import '@common/typo.scss';

.tokenItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $xxs $s;
  background: var(--bg-gray);
  border: 1px solid var(--additional-gray-pre-middle);
  border-radius: 100px;
  cursor: pointer;
  gap: $xxs;
  transition: all 100ms ease-in-out;

  &:hover {
    background: var(--base-white);
  }
}

.title {
  color: var(--base-black);

  @include font-m-flat;
}
