@import '@common/typo.scss';

.tokenItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--xxs) var(--s);
  background: var(--bg-gray);
  border: 1px solid var(--additional-gray-pre-middle);
  border-radius: 100px;
  cursor: pointer;
  gap: var(--xxs);
  transition: all 100ms ease-in-out;

  &:hover {
    background: var(--base-white);
  }
}

.title {
  @include font-m(400);

  color: var(--base-black);
}
