@import '@common/variables.scss';
@import '@common/colors.scss';

.cryptoAddress {
  display: flex;
  align-items: center;
}

.address {
  margin-right: 10px;
  font-family: monospace;
}

.copyButton {
  padding: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.copyButton.copied {
  color: #155724;
  background: #d4edda;
  border-color: #c3e6cb;
}

.copyButton:hover {
  background: $additional-gray-middle;
}
