@mixin font-xxs($weight: normal) {
  font-size: 8px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-xs($weight: normal) {
  font-size: 10px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-s-flat {
  font-size: 12px;
  line-height: 14px;
}

@mixin font-s($weight: normal) {
  font-size: 12px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-m-flat {
  font-size: 14px;
  line-height: 16px;
}

@mixin font-m($weight: normal) {
  font-size: 14px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-l-flat {
  font-size: 16px;
  line-height: 20px;
}

@mixin font-l($weight: normal) {
  font-size: 16px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-xl-flat {
  font-size: 18px;
  line-height: 22px;
}

@mixin font-xl($weight: normal) {
  font-size: 18px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-2xl-flat {
  font-size: 20px;
  line-height: 24px;
}

@mixin font-2xl($weight: normal) {
  font-size: 20px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-2-5xl($weight: normal) {
  font-size: 22px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-3xl($weight: normal) {
  font-size: 24px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-4xl($weight: normal) {
  font-size: 32px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-4xl-flat {
  font-size: 32px;
  line-height: 24px;
}

@mixin font-5xl($weight: normal) {
  font-size: 40px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-6xl($weight: normal) {
  font-size: 68px;
  line-height: normal;
  font-weight: $weight;
}

@mixin font-6xl-flat {
  font-size: 68px;
  line-height: 70px;
}

@mixin font-10xl($weight: normal) {
  font-size: 100px;
  line-height: normal;
  font-weight: $weight;
}
