@mixin font-xxs($weight: normal) {
  font-size: var(--font-xxs);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-xs($weight: normal) {
  font-size: var(--font-xs);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-s($weight: normal) {
  font-size: var(--font-s);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-m($weight: normal) {
  font-size: var(--font-m);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-l($weight: normal) {
  font-size: var(--font-l);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-xl($weight: normal) {
  font-size: var(--font-xl);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-2xl($weight: normal) {
  font-size: var(--font-2xl);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-2-5xl($weight: normal) {
  font-size: var(--font-2-5xl);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-3xl($weight: normal) {
  font-size: var(--font-3xl);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-4xl($weight: normal) {
  font-size: var(--font-4xl);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-5xl($weight: normal) {
  font-size: var(--font-5xl);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-6xl($weight: normal) {
  font-size: var(--font-6xl);
  line-height: normal;
  font-weight: $weight;
}

@mixin font-10xl($weight: normal) {
  font-size: var(--font-10xl);
  line-height: normal;
  font-weight: $weight;
}
