@import '@common/variables.scss';
@import '@common/colors.scss';

.statusContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  max-width: 120px;
}

.viewOfferButton {
  width: 20px;
  height: 20px;
  transition: background 0.2s ease;

  &:hover {
    background: $additional-gray-middle;
  }
}
