@import '@common/breakpoints';
@import '@common/typo.scss';

.tokenWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--s);
}

.logo {
  @include mobile-up {
    width: 48px;
    height: 48px;
  }

  @include mobile-down {
    width: 32px;
    height: 32px;
  }
}

.tokenContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tokenSum {
  color: var(--base-black);

  @include font-3xl(400);
}

.tokenName {
  color: var(--base-black);
  opacity: 0.5;

  @include font-m(400);
}
