@import '@common/colors.scss';
@import '@common/variables.scss';
@import '@common/breakpoints.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $lg;
  background: $base-white;
  border-radius: 10px;
  gap: $s;
}

.title {
  font-weight: 700;
  font-size: 14px;
  color: $base-black;
}

.container {
  display: flex;
  gap: 8px;

  @include medium-mobile-down {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  @include medium-mobile-up {
    flex-direction: row;
    align-items: center;
  }
}

.link {
  font-weight: 400;
  color: $base-black;

  @include medium-mobile-down {
    font-size: 18px;
  }

  @include medium-mobile-up {
    font-size: 24px;
  }
}
