@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--base-white);
  border-radius: 10px;
  gap: var(--s);

  @include mobile-down {
    padding: var(--m);
  }

  @include mobile-up {
    padding: var(--lg);
  }
}

.title {
  @include font-m(700);

  color: var(--base-black);
}

.container {
  display: flex;
  gap: var(--s);

  @include mobile-down {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  @include mobile-up {
    flex-direction: row;
    align-items: center;
  }
}

.link {
  color: var(--base-black);

  @include mobile-down {
    @include font-xl(400);
  }

  @include mobile-up {
    @include font-3xl(400);
  }
}
