@import '@common/typo.scss';
@import '@common/colors.scss';

.container {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.message {
  color: $base-black;

  @include font-m;
}

.control {
  width: max-content;
}
