.cell {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;

  &_full {
    width: 100%;
  }

  &_uppercase {
    text-transform: uppercase;
  }
}

.token {
  margin-left: 4px;
}

.controls {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  column-gap: 8px;
}
