@import '@common/variables.scss';
@import '@common/colors.scss';

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 80px;
  height: 36px;
  overflow: hidden;
  border-radius: $xxs;
  cursor: pointer;

  [data-theme='light'] & {
    background: $base-white;
    border: 1px solid $bg-gray;

    .item {
      background: $base-white;
    }

    .darkItem {
      background: $bg-gray;
    }

    .icon path {
      fill: $additional-gray-medium;
    }

    .lightItem .icon path {
      fill: $base-black;
    }
  }

  [data-theme='dark'] & {
    background: $additional-black-almost;
    border: 1px solid $base-gray;

    .item {
      background: $base-gray;
    }

    .darkItem {
      background: $additional-black-almost;
    }

    .icon path {
      fill: $additional-gray-pre-middle;
    }

    .darkItem .icon path {
      fill: $base-white;
    }
  }
}
