.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 80px;
  height: 36px;
  overflow: hidden;
  border-radius: var(--xxs);
  cursor: pointer;

  [data-theme='light'] & {
    background: var(--base-white);
    border: 1px solid var(--bg-gray);

    .item {
      background: var(--base-white);
    }

    .darkItem {
      background: var(--bg-gray);
    }

    .icon path {
      fill: var(--additional-gray-medium);
    }

    .lightItem .icon path {
      fill: var(--base-black);
    }
  }

  [data-theme='dark'] & {
    background: var(--additional-black-almost);
    border: 1px solid var(--base-gray);

    .item {
      background: var(--base-gray);
    }

    .darkItem {
      background: var(--additional-black-almost);
    }

    .icon path {
      fill: var(--additional-gray-pre-middle);
    }

    .darkItem .icon path {
      fill: var(--base-white);
    }
  }
}
