@import '@common/colors.scss';
@import '@common/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  width: 100%;
  margin: 18px auto 0;
  gap: var(--lg);

  @include mobile-down {
    padding: var(--m);
  }

  @include mobile-up {
    padding: 0;
  }
}

.title {
  font-weight: 400;

  @include mobile-down {
    font-size: 18px;
  }

  @include mobile-up {
    font-size: 24px;
  }
}
