@import '@common/colors.scss';
@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  width: 100%;
  margin: 18px auto 0;
  gap: var(--lg);

  @include mobile-down {
    padding: var(--m);
  }

  @include mobile-up {
    padding: 0;
  }
}

.title {
  @include mobile-down {
    @include font-xl(400);
  }

  @include mobile-up {
    @include font-3xl(400);
  }
}
