@import '@common/variables.scss';
@import '@common/colors.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: $lg $m;
  background: $base-white;
  gap: $lg;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $s;
}

.mb {
  margin-bottom: 24px;
}

.selectLabel {
  font-weight: 400;
  font-size: 24px;
  color: $base-black;
}

.inputWrapper {
  max-width: 170px;
}

.receiverInput {
  font-size: 18px;
}
