@import '@common/variables.scss';
@import '@common/colors.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: $lg $m;
  background: $base-white;
  gap: $lg;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: normal;
  gap: $s;
}

.selectLabel {
  font-weight: 400;
  font-size: 24px;
  color: $base-black;
}

.inputWrapper {
  max-width: 170px !important;
}

.receiverInput {
  font-size: 18px !important;
}

.amountContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.amountText {
  font-size: 14px;
  color: $base-black;
  font-weight: 600;
  line-height: normal;
}

.amountButton {
  display: flex;
  padding: $xxs $s;
  justify-content: center;
  align-items: center;
  gap: $s;

  border-radius: $s;
  background: $bg-gray;
}

.balanceContainer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.balanceLabel {
  font-size: 12px;
  color: $base-black;
  font-weight: 600;
}

.balanceValue {
  font-size: 12px;
  color: $base-black;
  font-weight: 400;
}
