@import '@common/breakpoints.scss';

.container {
  display: grid;
  grid-column: 1 / calc(var(--cols) + 1);
  grid-template-columns: subgrid;

  @include mobile-up {
    padding: 0 var(--xl);
  }

  @include mobile-down {
    padding: 0 var(--m);
  }
}

.row {
  display: grid;
  grid-column: 1 / calc(var(--cols) + 1);
  grid-template-columns: subgrid;
}

.cell {
  display: inline-flex;
  align-items: center;
  height: var(--xxl);
}

.selectionCell {
  width: 24px;
}
