@import '@common/breakpoints.scss';

.container {
  display: grid;
  grid-column: 1 / calc(var(--cols) + 1);
  grid-template-columns: subgrid;

  @include mobile-up {
    padding: 0 32px;
  }

  @include mobile-down {
    padding: 0 16px;
  }
}

.row {
  display: grid;
  grid-column: 1 / calc(var(--cols) + 1);
  grid-template-columns: subgrid;
}

.cell {
  display: inline-flex;
  padding: 14px 0;
}

.selectionCell {
  width: 24px;
}
