@import '@common/typo.scss';
@import '@common/breakpoints.scss';
@import '@common/mixins.scss';

.tableContainer {
  @include font-m;
}

.table {
  display: grid;
  grid-template-columns: repeat(calc(var(--cols) - 1), max-content) 1fr;
  border-collapse: collapse;
}

.header,
.headerPlaceholder {
  display: contents;
}

.subtitle {
  display: inline-block;
  grid-column: 1 / calc(var(--cols) + 1);
  grid-template-columns: subgrid;
  padding: var(--m) 0;

  @include font-m(700);

  &.enableRowSelection {
    grid-column: 2 / calc(var(--cols) + 1);
  }
}

.body {
  display: contents;
}

.sortingIcon {
  position: absolute;
  left: calc(100% + var(--xxs));
  width: 12px;
  height: 12px;
  opacity: 0.3;
  transition: opacity 0.2s ease;

  &_active {
    opacity: 1;
  }
}

.headingCell,
.cell {
  display: inline-flex;
  align-items: center;

  > * {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.headingCell {
  min-width: max-content;
  padding: var(--s) 0;
  text-align: unset;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;

  @include font-s(500);

  @include mobile-down {
    &_selectable {
      &:nth-child(2) {
        grid-column: span 2;
      }
    }
  }

  &:hover {
    .sortingIcon {
      opacity: 1;
    }
  }

  &_active {
    font-weight: 700;
    color: var(--base-black);
  }

  &__content {
    position: relative;
  }
}

.headingRowSelectionCell {
  display: inline-flex;

  @include mobile-up {
    width: 24px;
  }

  @include mobile-down {
    display: none;
  }

  &__content {
    display: none;
  }
}

.cell {
  height: var(--xxl);

  @include font-m;
}

.rowSelectionCell {
  display: flex;
  align-items: center;
  width: 24px;
  transition: opacity 0.2s ease;

  @include supports-hover {
    opacity: 0;
  }

  &_selected {
    opacity: 1;
  }

  &_disabled {
    opacity: 0;
  }
}

.headingRow,
.headingRowPlaceholder,
.row,
.rowPlaceholder {
  display: grid;
  grid-column: 1 / calc(var(--cols) + 1);
  grid-template-columns: subgrid;

  @include mobile-up {
    padding: 0 var(--xl);
  }

  @include mobile-down {
    padding: 0 var(--m);
  }
}

.emptyState {
  display: inline-block;
  grid-column: 1 / calc(var(--cols) + 1);
  grid-template-columns: subgrid;

  @include font-m;

  &.enableRowSelection {
    grid-column: 2 / calc(var(--cols) + 1);
  }
}

.row {
  transition: background-color 0.2s ease;

  &_selected,
  &:hover {
    background-color: var(--additional-gray-background);

    & .rowSelectionCell:not(.rowSelectionCell_disabled) {
      opacity: 1;
    }
  }
}

.headingRow {
  @include mobile-up {
    border-bottom: 1px solid var(--additional-gray-pre-middle);
  }
}
