@import '@common/variables.scss';
@import '@common/colors.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $xs;
}

.indicator {
  position: absolute;
  width: $xs;
  height: $xs;
  background-color: $base-black;
  border-radius: 50%;
  opacity: 0;
}

.radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $m;
  height: $m;
  background-color: $base-white;
  border: 2px solid $additional-gray;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &[data-state='checked'] {
    border: 2px solid $base-black;

    .indicator {
      opacity: 1;
    }
  }

  &:disabled {
    background-color: $additional-gray-light;
    border: 2px solid $additional-gray-pre-middle;

    .indicator {
      width: 100%;
      height: 100%;
      background-color: $additional-gray-pre-middle;
    }
  }

  &:not(:disabled):hover {
    border: 2px solid $base-black;
  }
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: $base-black;
  font-style: normal;
}
