@import '@common/colors.scss';
@import '@common/variables.scss';
@import '@common/breakpoints.scss';

.wrapper {
  @include mobile-down {
    padding: $m;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  height: max-content;
  margin: 0 auto;
  background: $base-white;
  border-radius: $s;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);

  @include mobile-up {
    margin-top: 88px;
  }
}

.heading {
  @include mobile-up {
    padding: $m $lg;
  }

  @include mobile-down {
    padding: $sm $m;
  }
}

.headingAccepted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cross {
  cursor: pointer;

  path {
    stroke: $base-black;
  }
}

.label {
  font-weight: 600;
  font-size: 14px;
  color: $base-black;
}
