@import '@common/variables.scss';
@import '@common/colors.scss';

.container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo {
  width: 20px;
  height: 20px;
}

.text {
  text-transform: uppercase;
}
