@import '@common/typo.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--m);
  gap: var(--m);

  background: var(--base-white);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--xxs);
}

.label {
  color: var(--base-black);
  @include font-m(400);
}

.tooltip {
  display: flex;
  cursor: pointer;
  opacity: 0.4;
}
