@import '@common/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: $m;
  gap: $m;

  background: var(--base-white);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $xxs;
}

.label {
  line-height: normal;
  font-size: 14px;
  color: var(--base-black);
  font-weight: 400;
}

.tooltip {
  display: flex;
  cursor: pointer;
  opacity: 0.4;
}
