@import '@common/colors.scss';
@import '@common/variables.scss';

.container {
  width: 100%;
  display: flex;
  padding: $xxl $lg;
  flex-direction: column;
  align-items: flex-start;
  gap: $lg;

  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
}

.text {
  font-size: 14px;
  color: $base-black;
  font-weight: 400;
}

.bold {
  font-size: 14px;
  color: $base-black;
  font-weight: 700;
}
