@import '@common/breakpoints.scss';

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  @include mobile-up {
    justify-content: flex-end;
    min-height: 52px;
    padding: var(--m) var(--m) 0 0;
  }

  @include mobile-down {
    position: sticky;
    z-index: 9998;
    top: 0;
    justify-content: space-between;
    min-height: 97px;
    padding: var(--xxl) var(--m) var(--m);
    background-color: var(--additional-gray-middle);
  }
}
