@import '@common/variables.scss';
@import '@common/colors.scss';
@import '@common/typo.scss';
@import '@common/breakpoints.scss';

.container {
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;

  @include mobile-down {
    width: max-content;
    min-width: 100px;
  }

  &:hover {
    background-color: $additional-gray-middle;
  }

  &[data-state='active'] {
    font-weight: bold;
    color: $base-black;
    background-color: $additional-gray-middle;
    border-radius: 100px;
  }
}

.label {
  @include font-m-flat;
}

.badge {
  position: relative;
  top: -1px;
  left: 4px;
  font-weight: 700;
  color: $additional-gray-medium;

  @include font-s-flat;
}
