@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: var(--lg) var(--m);
  background: var(--base-white);
  gap: var(--lg);
}

.selectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: normal;
  gap: var(--s);
}

.selectLabel {
  color: var(--base-black);

  @include mobile-up {
    @include font-3xl(400);
  }

  @include mobile-down {
    @include font-xl(700);
  }
}

.gap {
  gap: 14px !important;
}

.mb {
  @include mobile-up {
    margin-bottom: 22px;
  }
}

.inputWrapper {
  @include mobile-up {
    max-width: 170px !important;
  }
}

.receiverInput {
  @include mobile-up {
    font-size: 18px !important;
  }

  @include mobile-down {
    font-size: 11px !important;
  }
}

.amountContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.amountText {
  color: var(--base-black);

  @include font-m(600);
}

.amountButton {
  display: flex;
  padding: var(--xxs) var(--s);
  justify-content: center;
  align-items: center;
  gap: var(--s);
  border-radius: var(--s);
  background: var(--bg-gray);

  @include font-s(600);

  &:disabled {
    cursor: not-allowed;
  }
}

.balanceContainer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.balanceLabel {
  color: var(--base-black);

  @include font-s(600);
}

.balanceValue {
  max-width: 115px;
  word-break: break-word;
  color: var(--base-black);

  @include font-s(400);
}
