@import '@common/typo.scss';

@mixin active {
  color: var(--base-white);
  background-color: var(--base-black);
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.lineWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 390px;
}

.stepItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--xs);
  width: 100%;
}

.stepItem::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 45%;
  width: 100%;
  height: 2px;
  background-color: var(--additional-gray-pre-middle);
  transform: translateY(50%);
}

.reverse {
  align-items: flex-end;
}

.step {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--l);
  height: var(--l);
  font-weight: 500;
  color: var(--additional-gray-pre-middle);
  background-color: var(--base-white);
  border: 2px solid var(--additional-gray-pre-middle);
  border-radius: 9999px;

  @include font-s;
}

.active .step {
  @include active;
}

.activeStep {
  @include active;
}

.activeStepItem::before {
  background-color: var(--base-black);
}

.active::before,
.complete::before {
  background-color: var(--base-gray);
}

.complete .step {
  color: var(--base-white);
  background-color: var(--base-black);
  border: none;
}

.approvedNotComplete::before {
  background-color: var(--base-black);
}

.approvedStep {
  color: var(--base-black) !important;
  background-color: var(--base-white) !important;
  border: 2px solid var(--base-black) !important;
}
