/* styles/globals.css */

@import './common/colors.scss';
@import './common/mixins.scss';
@import './common/typo.scss';
@import './reset.scss'; /* Убедитесь, что сброс стилей импортирован первым */

:root {
  --app-height: 100%;
}

* {
  -webkit-touch-callout: default;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body,
html {
  width: 100vw;
  height: var(--app-height);
  font-family: var(--font-family-base);
  background: $additional-gray-background;

  > * {
    font-family: var(--font-family-base);
  }
}

ul {
  padding: 0;
  list-style: none;
}

button,
input[type='submit'],
input[type='reset'] {
  font: inherit;
  color: inherit;
  outline: inherit;
}

a {
  color: inherit;
}

table {
  border-collapse: collapse;
}

.TabsList {
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid $base-gray;
}

.TooltipContent {
  padding: 10px;
  font-weight: 400;
  color: $base-white;
  background: $base-black;
  border-radius: 8px;

  @include font-m-flat;
}
