@import '@common/breakpoints.scss';
@import '@common/typo.scss';

.wrapper {
  @include mobile-down {
    padding: var(--m);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  height: max-content;
  margin: 0 auto;
  background: var(--base-white);
  border-radius: var(--s);
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);

  @include mobile-up {
    margin-top: 88px;
  }
}

.heading {
  @include mobile-up {
    padding: var(--m) var(--lg);
  }

  @include mobile-down {
    padding: var(--sm) var(--m);
  }
}

.label {
  color: var(--base-black);

  @include font-m(600);
}
