@import '@common/breakpoints';

.offerWrapper {
  width: 100%;
  display: flex;

  @include mobile-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include mobile-down {
    flex-direction: column;
    justify-content: center;
    gap: var(--m);
  }
}

.arrowContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: var(--m);
}
