@import '@common/typo.scss';
@import '@common/breakpoints.scss';

.container {
  display: grid;
  grid-template-rows: max-content;
  padding-top: var(--sm);
}

.header {
  @include mobile-up {
    padding: 0 var(--xl);
  }

  @include mobile-down {
    display: grid;
    gap: var(--sm);
    padding: 0 var(--m);
    border-bottom: 1px solid var(--additional-gray-pre-middle);
  }
}

.title {
  color: var(--base-black);

  @include mobile-up {
    @include font-3xl;
  }

  @include mobile-down {
    @include font-xl;
  }
}

.filters {
  @include mobile-up {
    padding: var(--m) 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  column-gap: var(--m);

  @include mobile-up {
    align-items: center;
    padding: var(--m) 0;
  }

  @include mobile-down {
    flex-direction: column-reverse;
    gap: var(--sm);
    padding: var(--sm) 0 var(--m);
  }

  &__left {
    display: grid;
    align-items: center;
    column-gap: var(--m);

    @include mobile-up {
      grid-template-columns: max-content 210px;
    }

    @include mobile-down {
      grid-template-columns: max-content 1fr;

      > *:nth-child(2) {
        max-width: 210px;
      }
    }
  }

  &__right {
    @include mobile-down {
      align-self: flex-end;
    }
  }
}

.table {
  overflow-x: auto;
}
